/* CSS Document for Print */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,700,300);

.page {
    margin:0.5cm
}

body {
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4 {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {font-size: 1.6em;}
h2 {font-size: 1.4em;}
h3 {font-size: 1.2em;}
h4 {font-size: 1.1em;}

p {
    font-size: 0.9;
    margin: 0 0 1em 0;
}

a, a:visited {margin: 0 0 1em 0; text-decoration: none;}

a::after, a:visited::after {
    content: '('attr(href) ')';
    font-style: italic;
    word-wrap: break-word;
}

nav {
    display: none;
}

header{
    position: relative;
}

header::after{
    content: url(../graphics/banner_1300_print.jpg);
    width: 90%;
}

header a.logo {
    display: block;
    width: 145px;
    height: 60px;
    position: absolute;
    top: 20px; left: 20px;
}

header a.logo::before {
    content: url(../graphics/logo_print.svg);
}

header a.logo::after {
    display: block;
    position: absolute;
    top: 20px;
    left: 150px;
}

header div.hero {
    width: 75%;
    position: absolute;
    top: 120px;
    left: 20px;
}
header div.hero a::after{
    display: block;
}
header a.logo span {
    display: none;
}

/* All sections */ 
section {
    margin-bottom: 50px;
}
section::after {
    content: '';
    clear: both;
    display: block;
}

/*Section - Main */ 
section.main {
    margin-top: 30px;
    margin-bottom: 30px;
}

section.main aside {
    width: 33%;
    float: left;
    text-align: center;
}
section.main aside div.content {
    margin: 15px;
}

section.main aside div.content h3 a::after {
    display: block;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
section.main aside div.content.trending::before {
    content: url(../graphics/icon_star_print.svg);
}
section.main aside div.content.find-it::before {
    content: url(../graphics/icon_marker_print.svg);
}
section.main aside div.content.tools::before {
    content: url(../graphics/icon_gear_print.svg);
}